<div style="margin-left: 100px; margin-right: 100px; margin-top: 35px;">
	<h4>Editing post</h4>
</div>

<%= render 'form' %>

<div style="margin-left: 100px;">
	<%= link_to 'Show', @post %> |
	<%= link_to 'Back', posts_path %>
</div>



