

<style>
.navbar-brand>img {
    left: 0px;
}
</style>

<div class = "container-fluid" style="overflow: hidden;">
	<%#= binding.pry %>
	<% @posts.each do |post| %>
		<div class="col-md-3" id = "post_<%=post.id%>">
			<%= render post %>
		</div>
	<% end %>
</div>

<div class= "text-center" style="margin-top: 60px;">
	<%= will_paginate @posts ,previous_label: "Previous",next_label: "Next",renderer: BootstrapPagination::Rails%> 
</div>

<br/>
<button class = "btn btn-primary bmd-btn-fab position_fixed" style="right:0; bottom:0;position: fixed; margin-bottom: 30px;margin-right: 30px;">
	<%= link_to  image_tag("ic_edit.png", width: 50,heigth: 50), new_post_path %>
</button>