// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.divider {
	height: 1px;
	margin-top: 8px;
	margin-bottom: 8px;
	background: #EEEEEE;
}

.tag-container{
	float:left;
	font-size : 13px ;
	overflow: hidden;
	margin-left: 16px;
	margin-top: 4px;
}

.tag-border{
	border: 1.9px;
	border-color:#AB47BC;
	border-style:solid;
	border-radius : 20px;
	padding:3px;
	padding-left:10px;
	padding-right:10px;
	float: left; 
	margin-left: 5px;
	background:#AB47BC;
	line-height: 2;
}
.link-decoration {
	color:#fff;
	text-decoration:none;
}

.author {
	 font-size: 16px; 
	 color: #424242;
}
